:root {
  --1st-text-color: #191919;
  --2nd-text-color: #6c6f7f;
  --3rd-text-color: #fcf0f1;
}

:root {
  --1st-background-color: #191919;
  --2nd-background-color: #6c6f7f;
  --3rd-background-color: #fcf0f1;
  --4th-background-color: #fafafa;
}

/* body */
body {
  background-color: var(--4th-background-color);
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

/* text styles */
a {
  font-family: 'Saira Condensed';
  color: var(--1st-text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-inline: 60px
}

p {
  font-family: 'Saira Condensed';
  color: var(--1st-text-color);
  font-weight: 300;
  font-size: 30px
}

h1 {
  font-family: 'Saira Condensed';
  color: var(--1st-text-color);
  font-weight: 800;
  font-size: 20px;
}

h2 {
  font-family: 'Saira Condensed';
  color: var(--1st-text-color);
  font-weight: 500;
  font-size: 50px;
}

h3 {
  font-family: 'Saira Condensed';
  color: var(--1st-text-color);
  font-weight: 350;
  font-size: 35px;
}

h4 {
  font-family: 'Saira Condensed';
  color: var(--2nd-text-color);
  font-weight: 900;
  font-size: 15px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 4%;
  padding-right: 4%;
}

/* logo span effect */
.logo {
  color: var(--1st-text-color);
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--2nd-text-color);
}

/* hover effect over 'a' text */
a:hover {
  color: var(--2nd-text-color);
  transition: 0s;
}

/* contact button */
.contact {
  background-color: #191919;
  padding: 10px 25px;
  border-radius: 0.5rem;
  color: var(--3rd-text-color);
}

/* footer */
.copyright {
  position: fixed;
  bottom: 0px;
  right: 8%;
  letter-spacing: 1px;
}

.hero-banner {
  position: relative;
  padding-top: 30px;
  text-align: justify;
  left: 70px;
  width: 50%;
}

.about {
  display: flex;
  flex-basis: 50%;
  padding-top: 30px;
  padding-left: 4%;
  padding-right: 4%;
  width: 50%;
}