:root {
  --1st-text-color: #000000;
  --2nd-text-color: #6c6f7f;
  --3rd-text-color: #ffffff;
}

:root {
  --1st-background-color: #f4ffc2;
  --2nd-background-color: #e8efbf;
  --3rd-background-color: #000000;
  --4th-background-color: #6c6f7f;
}

/* body */
body {
  background-color: var(--1st-background-color);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* font styles */
a {
  font-family: 'Hanken Grotesk', 'sans-serif';
  color: var(--1st-text-color);
  text-decoration: none;
  margin-inline: 30px;
}

p {
  font-family: 'Hanken Grotesk', 'sans-serif';
  color: var(--1st-text-color);
  font-weight: 300;
  font-size: 60px;
  margin: 0; 
}

h1, h2, h3, h4 {
  font-family: 'Hanken Grotesk', 'sans-serif';
  color: var(--1st-text-color);
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 20px;
}

h2 {
  font-weight: 600;
  font-size: 130px;
  letter-spacing: -13px;
}

h3 {
  font-weight: 350;
  font-size: 35px;
}

h4 {
  font-weight: 900;
  font-size: 15px;
}

span {
  color: var(--2nd-text-color);
}

a:hover {
  color: var(--2nd-text-color);
  transition: 0s;
}

/* !banner! */
.section.banner {
  position: relative;
}

.container.banner {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav-content {
  font-size: 40px;
}

.heading {
  font-size: 250px;
  letter-spacing: -20px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 100px;
  }
}

.divider-line {
  height: 6px;
  background-color: #000000;
  margin-right: 5%;
  margin-left: 5%;
}

@media screen and (max-width: 991px) {
  .divider-line {
    margin-right: 64px;
    margin-left: 64px;
  }
}

/* footer */
.copyright {
  position: fixed;
  bottom: 0;
  right: 8%;
  letter-spacing: 1px;
  font-size: 30px;
}

.hero-banner {
  position: relative;
  padding-top: 30px;
  text-align: left;
  left: 70px;
  width: 50%;
}

.about {
  display: grid; 
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 5%;
}

.about-img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.about-content {
  max-width: 80%; 
}

header {
  background-color: var(--1st-background-color);
  padding: 10px;
}

nav {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 4%;
  padding-right: 4%;
}

.logo img {
  width: auto;
  height: 200px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul a {
  text-decoration: none;
  color: var(--1st-text-color);
  margin: 0 15px;
}

ul a:hover {
  text-decoration: solid;
}

.wrk-title {
    display: grid; 
    align-items: center;
    padding: 5%;
    font-weight: 600;
  font-size: 130px;
  letter-spacing: -19px;
}

.contact {
  background-color: #191919;
  padding: 10px 25px;
  border-radius: 0.5rem;
  color: var(--3rd-text-color);
  margin-left: 15px;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk', 'sans-serif';
}

.grid-container {
  display: flex;
  display: grid;
  gap: 40px;
  grid-template-areas: "a b" "c d";
  margin: 300px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

